.projects-container {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  padding: 20px;
  padding-top: 80px;
}
.text-container {
  text-align: center;
}
.projects-list-container {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  flex-wrap: wrap;
}

.project-item {
  width: 350px;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) !important;
  color: white !important;
  background-color: transparent !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.project-item:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561) !important;
}

.project-card-img {
  width: 100%;
  padding: 10px;
}

.project-name {
  font-size: 20px;
}

.project-description {
  width: 100%;
  word-wrap: break-word;
}
.btn-link {
  margin-right: 20px;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  background-color: #623686 !important;
  border-color: #623686 !important;
}
.btn-link:hover {
  background-color: #6d20c5d7 !important;
  border-color: #6d20c5d7 !important;
}
.a-link {
  text-decoration: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}
