.pdf-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 100%;
  padding: 20px;
  padding-top: 80px;
}
.download-button-container {
  margin-top: 15px;
}
.download-btn {
  border-radius: 9px;
  outline: none;
  border: 0;
  width: fit-content;
  padding: 15px;
  background-color: transparent;
  background-color: #623686;
}
.btn {
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-align: center;
}
.img-container {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 20px;
}
.resume-img {
  width: 70%;
  height: 80%;
}
