.about-container {
  background-size: cover;
  height: 100%;
  padding: 20px;
  padding-top: 80px;
}

.sign-footer:before {
  content: "- ";
}
.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-text-container {
  width: 48%;
  padding: 20px;
}
.Quote {
  color: rgb(155 126 172);
  margin-left: 20px;
}
.sign-footer {
  text-align: center;
}
.about-img-right-container {
  width: 48%;
}
.about-img {
  width: 95%;
  /* height: 100%; */
}

.project-heading {
  text-align: center;
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
